section {
  padding: 2rem 0;
}
label {
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 1px dotted black;
  background-color: greenyellow;
  border-radius: 15px;
  height: 6rem;
  width: 6rem;
  cursor: pointer;
  font-size: medium;
}
input {
  display: none;
}
img {
  padding: 0;
  margin: 0;
}
.images {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
.image {
  margin: 1rem 0.5rem;
  position: relative;
  box-shadow: rgba(0, 0, 0, 0.5) 0px 1px 2px 0px;
}
.image button {
  position: absolute;
  bottom: 0;
  right: 0;
  border-radius: 5px;
  cursor: pointer;
  border: none;
  color: white;
  background-color: lightcoral;
}
.image button:hover {
  background-color: red;
}
